*{
    font-family: poppins;
    margin: 0;
    padding: 0;
    justify-content: center;
    
}
html, body, form{ 
	padding: 0px;
	margin: 0px; 
}  
main{
	height: 100vh;
	width: 100vw;
    position: absolute;
}
body{
    background-color:#6218B7;
    overflow-y: hidden;
}
a{
    text-decoration: none;
}
.title{
    margin-top: 40%;
    display: flex;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 1%;
}
.undertext{
    display: flex;
    font-size: 17px;
    color:#ffffff;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    margin-bottom: -1%;
}
#smiley{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 15%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FEBD4C;
    font-weight: 600;
    font-size: 20px;
    padding: 12px 5px 12px 5px;
    width: 65%;
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}
#header-back-box{
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
#header-back-icon{
    background-size: contain;
    background-color: #ffffff;
    height: 40%;
    width: 30%;
    display: block;
    margin-left: 8px;
    margin-right: auto;
    margin-top: -5px;
}