:root{
    --white: #fff;
    --black: #000000;
    --purple: #6218B7;
    --lightpurple: #F8F4FF;
    --yellow: #FEBD4C;
    --grey: #535353;
}

#background-text{
    color: #EDE6F9;
    font-weight: 600;
}

/*Profile mini circle button*/
.profileButton-box{
    position: absolute;
    margin-left: 70%;
    margin-top: 1%;
}

.profileButton-item{
    background-color: var(--white);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 3px 6px #00000052;
}

.profileButton-icon{
    width: 50%;
    height: 50%;
    padding: 1%;
    display: flex;
    justify-content: center;
    background-size: contain;
}

#profileButton{
    background-image: url("../images/footer/personicon.svg");
}