body, main{
    overflow-x: hidden;
    padding: 0;
}
#search-bar{
    width: 90%;
    margin-left: 5%;
    height: 58px;
    background-color: #F8F4FF;
    display: flex;
    align-items: center;
    margin-top: 10%;
    padding-left: 3%;
    border-radius: 16px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16);
}
#message-contact-box{
    height: 10%;
    width: 100vw;
    margin-top: 5%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    overflow-x: scroll;
    white-space: nowrap;
    padding-right: 5%;
}
.message-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100%;
}
.message-contact-profile-picture{
    background-image: url("../images/chatpage/profilepicture.svg");
    background-size: contain;
    background-position: center center;
    width: 80px;
    height: 100%;
}
.message-contact-name{
    color: #535353;
    font-size: 12px;
}
.message-contact-onlinestatus{
    width: 14px;
    height: 14px;
    background-color: black;
    border-radius: 50px;
    border: 1px white solid;
    margin-top: 70%;
    margin-left: 70%;
}
.online{
    background-color: #00DC0F;
}
.offline{
    background-color: #DC0000;
}
#message-head{
    padding-left: 5%;
    font-size: 12px;
    padding-top: 2%;
    font-weight: 500;
    color: #535353;
}
#chats-box{
    width: 100%;
    height: 62%;
    display: flex;
    flex-direction: column;
}
.single-chat-box{
    padding: 2% 5% 2% 5%;
    display: flex;
    height: 15%;
}
.profile-picture-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}
.profile-picture{
    width: 100%;
    height: 100%;
    background-image: url("../images/chatpage/profilepicture.svg");
    background-size: contain;
    background-position: center center;
}
.chat-contents{
    width: 60%;
    font-size: 12px;
    padding-top: 2%;
    padding-left: 3%;
}
.chat-name{
    color: #535353;
}
.message-teaser{
    color: #848484;
}
.icon-box{
    right: 0;
    width: 20%;
    background-size: contain;
    justify-content: center;
    align-items: center;
    display: flex;
}
.message-icon{
    background-image: url("../images/chatpage/message.svg");
    width: 50%;
    height: 100%;
    display: flex;
    background-position: center right;
}
.location-icon{
    background-image: url("../images/chatpage/location.svg");
    width: 50%;
    height: 100%;
    display: flex;
    background-position: center center;
}
.onlinestatus{
    width: 14px;
    height: 14px;
    border-radius: 50px;
    border: 1px white solid;
    margin-top: 60%;
    margin-left: 70%;
}