:root{
    --wite: #fff;
    --black: #000000;
    --purple: #6218B7;
    --lightpurple: #F8F4FF;
    --yellow: #FEBD4C;
}

.heroCreateRide{
    padding: 0px 25px 25px 25px;
}
.textFieldTitle{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bolder;
}
.textFieldDiv{
    display: flex;
    justify-content: flex-start;
    height: 40px;

    background-color: var(--lightpurple);
    border-radius: 12px;
    padding: 5px 5px 5px 25px;
}
/*Yellow button*/ 
.yellowbutton-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
}

#yellow-button{
    background-color: var(--yellow);
    border: none;
    border-radius: 15px;
    width: 248px;
    height: 56px;
    color: var(--white);
    font-weight: 600;
    box-shadow: 0px 3px 6px #00000052;
}