*{ 
	box-sizing:border-box; 
	background-repeat: no-repeat;
	font-family: poppins;
    margin: 0;
    padding: 0;
}
html, body, form{ 
	padding: 0px;
	margin: 0px; 
}  
body{
    padding-bottom: 90px;
}
main{
	height: 100vh;
	width: 100vw;
}
#top{
    height: 30%;
    background-color: #6319B8;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
}
#wave-box{
	width: 100%;
	height: 20%;
    margin-top: -10px;
}
#wave{
	width: 100%;
	height: 100%;
	background-image: url("../images/wave.svg");
	background-size: cover;
}
#upper-bar{
    display: flex;
    height: 30%;
    justify-content: space-between;
    color: white;
    width: 90%;
    margin-left: 5%;
}
#nav{
    display: flex;
    padding-top: 2%;
    width: 40px;
}
#message{
    display: flex;
    padding-right: 2%;
    padding-top: 2%;
    width: 30px;
}

#point-box{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    padding: 0px 50px 20px 50px;
}
.grid-item {
    background-color: #6319B8;
    border-radius: 14px;
    height: 120px;
    width: 120px;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    white-space: nowrap;
    font-weight: 600;
}
.grid-icon{
    width: 50%;
    display: flex;
    height: 50%;
    padding: 1%;
    background-size: contain;
}
#friendslist{
    background-image: url("../images/friendlist.svg");
}
#whosbobbin{
    background-image: url("../images/whosbobbin.svg");
}
#coupons{
    background-image: url("../images/coupon.svg");
}
#planride{
    background-image: url("../images/car.svg");
}


#bottom-nav-bar{
    width: 100%;
    height: 91px;
    box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    margin-top: 10%;
    display: flex;
    padding-left: 0.33%;
}
.bottom-nav-bar-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

#home{
    display: flex;
    background-image: url("../images/activehome.svg");
    background-size: contain;
    height: 30px;
    width: 21%;
}
#rides{
    display: flex;
    background-image: url("../images/rides.svg");
    background-size: contain;
    height: 20px;
    width: 15%;
}
#account{
    display: flex;
    background-image: url("../images/personicon.svg");
    background-size: contain;
    height: 20px;
    width: 15%;
}

#message-box{
    border-radius: 14px;
    height: 35px;
    width: 35px;
    background-color: white;
    position: absolute;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    right: 7%;
    margin-top: -4%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
}

#message-box-icon{
    background-image: url("../images/yellowmessage.svg");
    background-size: contain;
    width: 60%;
    height: 60%;
    display: flex;
}

#sidemenu{
    top: 0;
    width: 90%;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 5;
    display: flex;
    transition: 0.5s;
    flex-direction: column;
    transform: translateX(-100%);
}

#sidemenu-transparent-block{
    position: fixed;
    z-index: 5;
    top: 0;
    width: 0%;
    height: 100%;
    right: 0;
    transition: 0.5s;
    background-color: black;
    opacity: 0.27;
}
#sidemenu-top{
    width: 100%;
    height: 40%;
    background-color: #6218B7;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
}

#sidemenu-top-person-box{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 14px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    margin-top: 10%;
}

#sidemenu-bottom{
    width: 100%;
    height: 60%;
}   
#sidemenu-top-person-icon{
    background-image: url("../images/purplepersontransparent.svg");
    background-size: contain;
    width: 60%;
    height: 60%;
    display: flex;
}
#sidemenu-top-username{
    color: white;
    transition: 0.5s;
    padding-top: 4%;
}
#sidemenu-top-mode-box{
    color: white;
    display: flex;
    width: 80%;
    align-items: center;
    padding-top: 6%;
    justify-content: space-between;
}
#sidemenu-top-needride{
    width: 40%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}

#sidemenu-top-driving{
    width: 40%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}
#sidemenu-links{
    color: #535353;
    font-weight: 600;
    line-height: 60px;
    padding-left: 10%;
    list-style-type: none;
    padding-top: 10%;
}
#sidemenu-signout{
    color: #6218B7;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10%;
    padding-top: 15%;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    padding-bottom: 150px;
}
.content-box{
    display: flex;
    width: 80%;
    height: 100px;
    border-radius: 16px;
    border-color: #6319B8;
    border-width: 0.3px;
    border-style: solid;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16);
    padding: 10px 15px;
    color: #535353;
    font-size: 14px;
    font-weight: 600;
}
.content-box p{
    justify-content: start;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}
.yellow{
    color: #FEBD4C;
    padding-right: 5px;
}
.content-box-header{
    display: flex;
    top: 0;
    font-size: 16px;
    padding-bottom: 8px;
}
.content-box-header-text{
    display: flex;
}
.content-box-col1, .content-box-col3{
    display: flex;
    height: 12px;
    align-items: center;
}
.content-box-col2{
    display: flex;
    height: 20px;
    width: 6.36px;
    border-right: dashed 1px #6218B7;
}
.content-box-dots{
    border-radius: 50px;
    width: 12px;
    height: 100%;
    background-color: #F8F4FF;
    border-style: solid;
    border-color: #6218B7;
    border-width: 1px;
}
.content-box-location{
    padding-left: 5px;
}
.content-box-left{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.content-box-right{
    align-items: center;
    justify-content: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}
.content-box-person-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-box-person-icon{
    display: flex;
    width: 100%;
    height: 100%;
}
.content-box-person-name{
    height: 20%;
}
.content-box-star{
    display: flex;
}
.content-box-rating-box{
    display: flex;
}