main{
    width: 100vw;
    height: 100vh;
}
#header{
    display: flex;
    width: 100%;
}
#header-back-box{
    height: 40px;
    width: 40px;
    background-color: #6218B7;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
#header-back-icon{
    background-image: url("/images/arrowleft.svg");
    background-size: contain;
    height: 40%;
    width: 30%;
}
#search-for-friends-box{
    width: 90%;
    margin-left: 5%;
    height: 58px;
    background-color: #F8F4FF;
    display: flex;
    align-items: center;
    margin-top: 10%;
    padding-left: 3%;
    border-radius: 16px;
}

#search-for-friends-input{
    background-color: #F8F4FF;
    border-width: 0;
    width: 80%;
    height: 60%;
    padding-left: 1%;
    font-size: 13px;
    font-weight: 100;
}
#search-for-friends-icon-box{
    width: 10%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-for-friends-icon{
    width: 40%;
    height: 40%;
    background-image: url("../images/friendlist/searchicon.svg");
    background-size: contain;
    display: flex;
}
#search-for-friends-filter-box{
    height: 40px;
    width: 40px;
    background-color: #6218B7;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
#search-for-friends-filter-icon{
    width: 25%;
    height: 35%;
    background-image: url("../images/friendlist/filtericon.svg");
    background-size: contain;
    background-position: center center;
    display: flex;
}
#friendlist-head{
    font-size: 14px;
    color: #836BC0;
    font-weight: 600;
    margin-left: 9%;
    padding-top: 8%;
    line-height: 10px;
}
.friend-box{
    height: 12%;
    width: 84%;
    margin-left: 8%;
    border: #6218B7 solid 0.3px;
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    padding-left: 5%;
    justify-content: space-between;
    margin-top: 5%;
}
.friend-box-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    height: 70%;
}
.friend-box-right{
    width: 20%;
    display: flex;
    height: 70%;
    padding-right: 5%;
}
.friend-icon-box{
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.friend-icon{
    background-image: url("/images/bluepersonicon.svg");
    background-size: contain;
    display: flex;
    height: 100%;
    width: 100%;
    background-position: center center;
}
.friend-name{
    font-weight: 600;
    font-size: 12px;
    color: #535353;
    text-align: center;
}
#friend-box-right-icon-box{
    width: 100%;
    top: 0;
    right: 0;
}
#friend-box-right-icon{
    background-image: url("../images/friendlist/star.svg");
    background-size: contain;
    background-position: right center;
    height: 30%;
    width: 100%;
}