*{ 
	box-sizing:border-box; 
	background-repeat: no-repeat;
	font-family: poppins;
    margin: 0;
    padding: 0;
}

:root{
    --white: #fff;
    --black: #000000;
    --purple: #6218B7;
    --lightpurple: #F8F4FF;
    --yellow: #FEBD4C;
    --grey: #535353;
}

html, body, form{ 
	padding: 0px;
	margin: 0px;
}

html, body{
    padding-bottom: 90px;
    max-width: 100%;
    overflow-x: hidden;
}

main{
	height: 100vh;
	width: 100vw;
}

a{
    text-decoration: none;
}

/*rate driver yellow button*/
#ratedriver-button:hover {
    background-color:#fdcd79;
    transition: 0.3s;
}

#ratedriver-button:active {
    background-color: #dda600;
}

#yellow-button:hover {
    background-color:#fdcd79;
    transition: 0.3s;
}

#yellow-button:active {
    background-color: #dda600;
}

.dropShadow{
    box-shadow: 7px 7px 17px -6px rgba(0,0,0,0.30);
}

/*Sidemenu/ burgermenu*/
.top-box{
    height: 12%;
    width: 80%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
}
 
#sidemenu-item{
    background-color: var(--purple);
    border-radius: 14px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 3px 6px #00000052;
    margin-top: 2%;
}

.burgermenu-icon{
    width: 50%;
    height: 50%;
    padding: 1%;
    display: flex;
    justify-content: center;
    background-size: contain;
}

#burgermenu{
    background-image: url("../images/header/burgermenuIcon.svg");
}

/*Back button*/ 
.top-box{
    height: 12%;
    width: 100%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.backbutton-item{
    background-color: var(--purple);
    border-radius: 14px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 3px 6px #00000052;
    margin-top: 2%;
}

.arrow-icon{
    width: 50%;
    height: 50%;
    padding: 1%;
    display: flex;
    justify-content: center;
    background-size: contain;
}

#arrow{
    background-image: url("../images/header/arrowLeftWhite.svg");
}

/* header */
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    
    padding: 25px;
}
.headerDiv{
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: center;
    justify-items: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

/*footer*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    position: fixed;
    width: 100%;
    
    padding: 25px 0 25px 0;
    bottom: 0;
    /* margin-top: auto; */

    border-radius: 20px;
    box-shadow: 0px -4px 50px 10px rgba(87, 86, 86, 0.071);

    background-color: white;
    z-index: 3;
}
.smallIcon{
    width: 20px;
    height: 20px;

    margin: 10px;
}
.smallIcon.active{
    filter: invert(42%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(1000%) contrast(119%);
}
.headerDiv.active{
    background-color: var(--purple);
}






