body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#header-back-box{
    position: absolute;
    z-index: 2;
}
#mapframe{
    width: 100vw;
    height: 83vh;
    position: relative;
    z-index: 1;
}
iframe{
    border-width: 0;
}
#routeform{
    position: absolute;
    z-index: 2;
    margin-top: -1.5vh;
    display: flex;
    width: 100%;
    height: 20vh;
    background-color: white;
    border-radius: 14px;
    flex-direction: column;
    padding: 5% 5%;
    align-items: center;
}
.input{
    width: 70%;
    height: 60%;
    font-size: 12px;
    font-weight: 300;
    border: 0;
    background-color: #F8F4FF;
    display: flex;
    align-items: center;
}
#input-boxes{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}
#submit{
    background-color: #FEBD4C;
    color: white;
    border: 0;
    border-radius: 16px;
    width: 60%;
    height: 40%;
    font-size: 16px;
    font-weight: 600;
}
.searchbox{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchicon{
    background-image: url("../images/friendlist/searchicon.svg");
    background-size: contain;
    height: 30%;
    width: 30%;
}
#locationmark{
    background-image: url("../images/map/locationmark.svg");
}
.input-background{
    width: 48%;
    height: 60%;
    margin-bottom: 5px;
    border: 0;
    border-radius: 16px;
    background-color: #F8F4FF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
}