:root{
    --white: #fff;
    --black: #000000;
    --purple: #6218B7;
    --lightpurple: #F8F4FF;
    --yellow: #FEBD4C;
    --grey: #535353;
}

html, body{
    max-width: 100%;
    overflow-y: hidden;
}

/*payment card*/
.payment-box{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.paymentcard{
    width: 85%;
}


/*add card plus button*/ 
.add-box{
    margin-left: 75%;
}

.plus-item{
    background-color: var(--white);
    border-radius: 30px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 3px 6px #00000052;
    margin-top: 5%;
}

.plus-icon{
    width: 50%;
    height: 50%;
    padding: 1%;
    display: flex;
    justify-content: center;
    background-size: contain;
}

#plus{
    background-image: url("../images/paymentpage/plusicon.svg");
}

/*payment history box with info*/
#datepayment-text{
    font-weight: 600;
    color: var(--grey);
    margin-left: 13%;
    margin-top: 4%;
}

.paymenthistory-box{
    width: 80%;
    height: 15%;
    border-radius: 16px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16);
    margin-left: 10%;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 600;
    color: var(--grey);
}

#mastercard-icon{
    width: 15%;
    height: 28%;
    margin-top: 12%;
    margin-left: 10%;
}

#cardnumber-text{
    margin-left: 5%;
    margin-top: 12%;
}

#price-text{
    color: var(--yellow);
    margin-left: 23%;
    margin-top: 12%;
}





