:root{
    --white: #fff;
    --black: #000000;
    --purple: #6218B7;
    --lightpurple: #F8F4FF;
    --yellow: #FEBD4C;
    --grey: #535353;
}

/*description booked rides*/
#description{
    margin-top: 2%;
    font-weight: 600;
    color: var(--grey);
}

.title-page{
    margin-top: 5%;
}

/*Planned rides*/ 
.plannedrides-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22%;
    margin-bottom: 2%;
}

#plannedrides-text{
    color: var(--purple);
    font-size: 27px;
    font-weight: 600;
    margin-top: 4%;
}