:root{
    --wite: #fff;
    --black: #000000;
    --purple: #6218B7;
    --lightpurple: #F8F4FF;
    --yellow: #FEBD4C;
}
p{
    font-size: 12px;
}
a{
    text-decoration: none;
}
/* rideInformationBox */
.bulletPoint{
    z-index: 0;
    display: flex;
    justify-self: center;
    align-self: center;
    border: 2px solid #6218B7;
    height: 8px;
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
}
.locationDiv{
    display: flex;
    flex-direction: row;
    font-weight: 600;
}
.locationText{
    margin-left: 5px;
}
.destinationLine{
    z-index: 1;
    height: 15px;
    width: 1px;
    margin-left: 3px;
    border-left: dashed 2px #6218B7;
}
.rideInformation{
    border: solid 1px #6218B7;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.textGray{
    color: #535353;
}
.textPurple{
    color: #6218B7;
}
.rideInformation{
    display: flex;
    flex-direction: row;
}
.driverDiv{
    display: flex;
    flex-direction: column;
}
.ratingDiv{
    display: flex;
    flex-direction: row;
    gap: 3px;
}
.dropShadow{
    box-shadow: 7px 7px 17px -6px rgba(0,0,0,0.30);
}
.rideDate{
    margin-left: 19px;
}
/* buttonQr */
.yellowbutton-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
}

#yellow-button{
    background-color: var(--yellow);
    border: none;
    border-radius: 15px;
    width: 248px;
    height: 56px;
    color: var(--white);
    font-weight: 600;
    box-shadow: 0px 3px 6px #00000052;
}
/* chatBox */
.message-box{
    border-radius: 14px;
    height: 35px;
    width: 35px;
    background-color: var(--white);
    position: absolute;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    right: 7%;
    margin-top: -4%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    margin-right: -21px;
    margin-top: -33px;
}
.qr-box{
    border-radius: 14px;
    height: 35px;
    width: 35px;
    background-color: var(--purple);
    position: absolute;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    right: 7%;
    margin-top: -4%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -21px;
    margin-top: -33px;
}

#message-box-icon{
    background-image: url("../images/yellowmessage.svg");
    background-size: contain;
    width: 60%;
    height: 60%;
    display: flex;
    background-repeat: no-repeat;
}
#qr-box-icon{
    background-image: url("../images/qrCodeIcon.svg");
    background-size: contain;
    width: 60%;
    height: 60%;
    display: flex;
    background-repeat: no-repeat;
}
.planRideBottom{
    display: flex;
    height: 32vh;
    flex-direction: column-reverse;
    align-content: flex-end;
}
