:root{
    --white: #fff;
    --black: #000000;
    --purple: #6218B7;
    --lightpurple: #F8F4FF;
    --yellow: #FEBD4C;
    --grey: #535353;
}

/*Points amount*/
.points-amount{
    font-size: 30px;
    font-weight: 600;
    margin-top: 1%;
    color: var(--purple);
    text-shadow: 0px 3px 6px #0000001d;
}

/*lists of coupons*/
.coupon-text{
    font-weight: 600;
    color: var(--purple);
}