:root{
    --white: #fff;
    --black: #000000;
    --purple: #6218B7;
    --lightpurple: #F8F4FF;
    --yellow: #FEBD4C;
    --grey: #535353;
}

/*Profile photo purple*/ 
.profile-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-item{
    background-color: var(--purple);
    border-radius: 14px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 3px 6px #00000052;
}

.profile-icon{
    width: 50%;
    height: 50%;
    padding: 1%;
    display: flex;
    background-size: contain;
}

#profile{
    background-image: url("../images/profile.svg");
}

.profile-name{
    font-size: 27px;
    font-weight: 600;
    margin-top: 4%;
}

/*Grid with functions: ridehistory, payment, points, support*/
.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    padding: 0px 50px 20px 50px;
}

.grid-item {
    background-color: var(--purple);
    border-radius: 14px;
    height: 120px;
    width: 120px;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    color: var(--white);
    white-space: nowrap;
    font-weight: 600;
    box-shadow: 0px 3px 6px #00000052;
}

.grid-icon{
    width: 50%;
    display: flex;
    height: 50%;
    padding: 1%;
    background-size: contain;
}

#ridehistory{
    background-image: url("../images/ridehistory.svg");
}

#payment{
    background-image: url("../images/payment.svg");
}

#points{
    background-image: url("../images/coupon.svg");
}

#support{
    background-image: url("../images/support.svg");
}

#signout{
    text-align: center;
    color: var(--purple);
    font-size: 14px;
    font-weight: 600;
}


