:root{
    --white: #fff;
    --black: #000000;
    --purple: #6218B7;
    --lightpurple: #F8F4FF;
    --yellow: #FEBD4C;
    --grey: #535353;
}

/*information driver*/
.infoprofile-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: var(--grey);
}

#infomembership-text{
    margin-left: -10%;
}

#inforides-text{
    margin-left: 25%;
}

.line{
    border-left: 1px solid var(--purple);
    height: 45px;
    position: absolute;
    margin-top: 1%;
}

/*star rating*/
.star-rating{
    font-size: 55px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.checked {
    color: var(--yellow);
}

/*Yellow button*/ 
.ratedriverbutton-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

#ratedriver-button{
    background-color: var(--yellow);
    border: none;
    border-radius: 15px;
    width: 248px;
    height: 56px;
    color: var(--white);
    font-weight: 600;
    box-shadow: 0px 3px 6px #00000052;
}

.review-box{
    height: 30%;
    width: 84%;
    margin-left: 8%;
    background-color: var(--lightpurple);
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    display: block;
    margin-top: 10%;
}

.review-title{
    text-align: center;
    font-weight: 600;
    color: var(--grey);
    padding-top: 5%;
}

.namereviewer-text{
    font-weight: 600;
    font-size: 14px;
    margin-left: 5%;
}


.review-text{
    font-size: 13px;
    color: var(--grey);
    margin-left: 5%;
}

