*{
    margin: 0;
    padding: 0;

    font-family: poppins;
}
:root{
    --wite: #fff;
    --black: #000000;
    --purple: #6218B7;
    --lightpurple: #F8F4FF;
    --yellow: #FEBD4C;
}
h1{
    font-size: 35px;
    line-height: 50px;
}
p{
    margin: 0;
    padding: 0;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
}
.textPurple{
    color: var(--purple);
}
.textWhite{
    color: var(--wite);
}

.backgroundPurple{
        background-color: var(--purple);
}
.backgroundWhite{
    background-color: var(--wite);
}
.dropShadow{
    box-shadow: 7px 7px 17px -6px rgba(0,0,0,0.30);
}



/* header */
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    
    padding: 25px;
}
.headerDiv{
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: center;
    justify-items: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

/* hero */
.heroPurpose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    padding: 20px;
    gap: 40px;
}
.topQuestion{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
}
.purposeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
    background-color: var(--purple);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 7px 7px 17px -6px rgba(0,0,0,0.30);

    width: 100px;
    height: 100px;
}


/* footer */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    position: fixed;
    width: 100%;
    
    padding: 25px 0 25px 0;
    bottom: 0;
    /* margin-top: auto; */

    border-radius: 20px;
    box-shadow: 0px -4px 50px 10px rgba(87, 86, 86, 0.071);

    background-color: white;
    z-index: 3;
}
.smallIcon{
    width: 20px;
    height: 20px;

    margin: 10px;
}
.smallIcon.active{
    filter: invert(42%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(1000%) contrast(119%);
}
.headerDiv.active{
    background-color: var(--purple);
}