*{
    padding: 0;
    margin: 0;
    font-family: poppins;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-size: 16px;
    align-self: flex-start;
    padding-left: 7%;
    padding-top: 5%;
    font-weight: 600;
    color: #535353;
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
.login-title{
    padding-top: 15%;
    display: flex;
    color: #6218B7;
    font-size: 30px;
    font-weight: 600;
}
.login-input{
    display: flex;
    border: 0;
    background-color: #F8F4FF;
    color: #535353;
    margin-left: 5%;
    padding-left: 2%;
    width: 80%;
    font-size: 16px;
}
.input-box{
    display: flex;
    background-color: #F8F4FF;
    padding: 20px 15px 20px 15px;
    margin-top: 1%;
    align-items: center;
    width: 90%;
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.input-icons{
    width: auto;
    height: 5%;
}
#lock-icon{
    width: 6%;
    height: auto;
}
.login-button{
    background-color: #FEBD4C;
    color: white;
    font-size: 19px;
    font-weight: 500;
    border: 0;
    margin-left: 5%;
}
.submit-box{
    margin-top: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FEBD4C;
    padding: 10px 5px 10px 5px;
    width: 60%;
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.login-box{
    display: flex;
    color: #6218B7;
    font-weight: 600;
    padding-top: 2%;
}
a{
    color: #6218B7;
    padding-left: 5px;
}
.login-submit-box{
    margin-top: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FEBD4C;
    padding: 10px 5px 10px 5px;
    width: 60%;
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}