body{
    height: 100vh;
    width: 100vw;
    margin-bottom: 50px;
}
#map{
    border: 0;
    border-radius: 17px;
    width: 80%;
    display: flex;
    height: 80%;
}
#mapbox{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 30%;
}
#result-header{
    color: #6218B7;
    font-size: 14px;
    padding-left: 10%;
}

#spacer{
    width: 100%;
    height: 3%;
}
.purple{
    color: #6218B7;
}
.content-box-header{
    padding-top: 5%;
}
.content-box{
    height: 150px;
}
.content-box-price{
    color: #FEBD4C;
    font-size: 22px;
    padding-top: 1%;
}
.result{
    font-weight: 600;
    padding: 20px 20px;
}
.content-box-person-icon{
    height: 45px;
}
.seats{
    padding-left: 5px;
}
.content-box-person-name{
    padding-top: 5px;
}
.content{
    padding-bottom: 0;
}
#link{
    position: relative;
}