*{
    margin: 0%;
    padding: 0%;
    font-family: poppins;
}
body{
    margin: 0%;
    padding: 0%; 
}
section{
    display: flex;
}
:root{
    --wite: #fff;
    --black: #000000;
    --purple: #6218B7;
    --lightpurple: #F8F4FF;
    --yellow: #FEBD4C;
    --gray: #535353;
}
.center{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
/* .left{
    display: flex;
    justify-content: flex-start;
} */
.textPurple{
    color: var(--purple);
}
.textGray{
    color: var(--gray);
}
.textBold{
    font-weight: 600;
}
.textYellow{
    color: var(--yellow);
}
.textBold{
    font-weight: bold;
    font-size: medium;
}
.centerToBottom{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.backgroundBlur{
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* filter: opacity(30%); */
    background: rgba(0, 0, 0, 0.122);
}
.detailDiv{
    height: 66%;
    width: 80%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

/* backButton */
.backbuttonDiv{
    background-color: var(--purple);
    border-radius: 14px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 3px 6px #00000052;
    margin-top: 2%;
    margin-left: 10%;
    margin-top: 20px;
}

.arrow-icon{
    width: 50%;
    height: 50%;
    padding: 1%;
    display: flex;
    justify-content: center;
    background-size: contain;
}

#arrow{
    background-image: url("../images/header/arrowLeftWhite.svg");
}
/* header */
.headerDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 37px;
}
.headerText{
    line-height: 79px;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: var(--purple);
}
/* rideInformationBox */
.destinationSection{
    width: 100%;
    margin-left: 48px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}
.bulletPoint{
    z-index: 0;
    display: flex;
    justify-self: center;
    align-self: center;
    border: 2px solid #6218B7;
    height: 8px;
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
}
.locationDiv{
    display: flex;
    flex-direction: row;
}
.locationText{
    margin-left: 5px;
}
.destinationLine{
    z-index: 1;
    height: 15px;
    width: 1px;
    margin-left: 5px;
    border-left: dashed 2px #6218B7;
}
.rideInformation{
    border: solid 1px #6218B7;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.textGray{
    color: #535353;
}
.textPurple{
    color: #6218B7;
}
.rideInformation{
    display: flex;
    flex-direction: row;
}
.driverDiv{
    display: flex;
    flex-direction: column;
}
.ratingDiv{
    display: flex;
    flex-direction: row;
    gap: 3px;
}
.dropShadow{
    box-shadow: 7px 7px 17px -6px rgba(0,0,0,0.30);
}
.rideDate{
    margin-left: 19px;
}
.driverPaymentSection{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.driverDivDetails{
    height: auto;
    /* width: 70%; */
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    padding: 20px;
}
.driverWrapperDiv{
    height: auto;
    /* width: 70%; */
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    gap: 10px;
}
.driverDetailText{
    margin-left: 10px;
}
.personIconImage{
    width: 30px;
    height: 30px;
    display: flex;
    justify-self: center;
    align-self: center;
}
.johnRating{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.driverNameRating{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-weight: bold;
    color: var(--gray);
}
.arrowRightDriver{
    height: 20px;
    width: 20px;
    display: flex;
    align-self: center;
}
.paymentDiv{
    display: flex;
    flex-direction: row;
}
.mastercardNumber{
    display: flex;
    align-items: center;
}