:root{
    --white: #fff;
    --black: #000000;
    --purple: #6218B7;
    --lightpurple: #F8F4FF;
    --yellow: #FEBD4C;
    --grey: #535353;
}
*{
    font-family: poppins;
}
h2{
    line-height: 20px;
}

/*Page title*/ 
.title-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#title-text{
    color: var(--purple);
    font-size: 27px;
    font-weight: 600;
    margin-top: 1%;
}

/*Ride history overview*/ 
#date-text{
    margin-left: 13%;
    font-weight: 600;
    color: var(--grey);
}

#ridehistory-box{
    width: 80%;
    height: 15%;
    border-radius: 16px;
    border-color: var(--purple);
    border-width: 0.3px;
    border-style: solid;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16);
    margin-left: 10%;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 600;
    color: var(--grey);
}

#ridehistory-left{
    width: 70%;
    margin-left: 5%;
}

#ridehistory-right{
    width: 20%;
}

#ridehistory-left-text{
    display: flex;
}

#ridehistory-left-route{
    display: flex;
    height: 60%;
    padding-top: 1%;
    margin-top: 3%;
}

#ridehistory-left-route-box{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#ridehistory-left-route-box-dashes{
    height: 50%;
    width: 5px;
    border-right: dashed 1px var(--purple);
}

.ridehistory-left-route-box-circles{
    border-radius: 50px;
    width: 10px;
    height: 10px;
    background-color: var(--lightpurple);
    border-style: solid;
    border-color: var(--purple);
    border-width: 1px;
}

#ridehistory-left-route-locations-box{
    padding-left: 3%;
}

#ridehistory-left-text-purple{
    color: var(--purple);
}

#ridehistory-left-text-number{
    padding-left: 3%;
}

#ridehistory-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ridehistory-right-icon-box{
    display: flex;
    justify-content: center;
    align-items: center; 
}

#ridehistory-right-name p{
    height: 20%;
}

#ridehistory-right-rating-box{
    display: flex;
    align-items: center;
}

#ridehistory-right-rating-box-star{
    height: 50%;
}

#ridehistory-right-rating-box-grade{
    font-size: 12px;
    margin: 0;
}

#message-box{
    border-radius: 14px;
    height: 35px;
    width: 35px;
    background-color: var(--white);
    position: absolute;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    right: 7%;
    margin-top: -4%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
}

#message-box-icon{
    background-image: url("../images/yellowmessage.svg");
    background-size: contain;
    width: 60%;
    height: 60%;
    display: flex;
    background-repeat: no-repeat;
}

/*Yellow button*/ 
.yellowbutton-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
}

#yellow-button{
    background-color: var(--yellow);
    border: none;
    border-radius: 15px;
    width: 248px;
    height: 56px;
    color: var(--white);
    font-weight: 600;
    box-shadow: 0px 3px 6px #00000052;
}

