:root{
    --white: #fff;
    --black: #000000;
    --purple: #6218B7;
    --lightpurple: #F8F4FF;
    --yellow: #FEBD4C;
    --grey: #535353;
}

/*footer chat*/
.sendfeedback-box{
    display: flex;
    position: fixed;
    width: 100%;
    height: 60%;
    padding: 10px 0 10px 0;
    bottom: 0;
    border-radius: 20px;
    box-shadow: 0px -4px 20px 10px rgba(87, 86, 86, 0.078);
    background-color: #EDE6F9;
    z-index: 3;
    font-size: 12px;
    font-weight: 600;
    color: var(--grey);
    display: inline-block;
}

/*Profile*/
.profilewhite-box{
    position: absolute;
    margin-left: 12%;
    margin-top: -8%;
}

.profilewhite-item{
    background-color: var(--white);
    border-radius: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 3px 6px #00000052;
}

.profilewhite-icon{
    width: 50%;
    height: 50%;
    padding: 1%;
    display: flex;
    justify-content: center;
    background-size: contain;
}

#profilewhitePurple{
    background-image: url("../images/footer/personicon.svg");
}

.namedriver-review{
    font-size: 20px;
    margin-left: 37%;
}

/*star rating*/
.starrating-box{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.starrating-feedback{
    display: flex;
    font-size: 40px;
}

.checked-star {
    color: var(--yellow);
}

.ratingname-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*send message box*/
.messagereview-box{
    height: 40%;
    width: 74%;
    background-color: var(--lightpurple);
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    display: block;
    margin-top: 5%;
    margin-left: 13%;
    margin-bottom: 6%;
}

.messagereview-title{
    text-align: center;
    font-weight: 600;
    color: var(--grey);
    padding-top: 5%;
}