
*{ 
	box-sizing:border-box; 
	background-repeat: no-repeat;
	font-family: poppins;
}
html, body, form{ 
	padding:0px;
	margin:0px; 
}
main{
	height: 100vh;
	width: 100vw;
}
#center{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
#drivrLogo{
	background-image: url("../images/drivr.svg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 200px;
	height: 210px;
}
#logoBox{
	width: 100%;
	background-color: #6218B7;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 60%;
	position: relative;
	padding-top: 20%;
}
#drivr{
	display: flex;
	background-image: url("../images/drivrWhite.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	background-position: center;
	height: 50%;
	width: 80%;
}
#waveBox{
	width: 100%;
	height: 50%;
	margin-top: -10px;
}
#wave{
	width: 100%;
	height: 100%;
	background-image: url("../images/wave.svg");
	background-size: cover;
}
#top{
	height: 55%;
	width: 100%;
}
main{
	background-color: #F8F4FF;
}
#bottom{
	width: 100%;
	height: 15%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 50%;
	font-weight: 600;
}
#getStarted{
	background-color: #FEBD4B;
	width: 70%;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-decoration: none;
}
#signIn{
	color: #6218B7;
	text-decoration: none;
	padding-top: 3%;
}