:root{
    --white: #fff;
    --black: #000000;
    --purple: #6218B7;
    --lightpurple: #F8F4FF;
    --yellow: #FEBD4C;
    --grey: #535353;
}

html, body{
    max-width: 100%;
    overflow-y: hidden;
}

#title-name{
    position: absolute;
    color: var(--purple);
    font-size: 27px;
    font-weight: 600;
    margin-left: 30%;
}

/*support headset icon background*/ 
.backgroundIcon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#background-icon{
    margin-top: 30%;
}

/*chat message cloud*/
.messageCloud-box{
    width: 200px;
    margin-top: 30%;
    margin-left: 8%;
    background: var(--purple);
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    color: var(--white);
    position: relative;
}

.messageCloud:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid var(--purple);
    border-right: 10px solid transparent;
    border-top: 10px solid var(--purple);
    border-bottom: 10px solid transparent;
    left: 15px;
    bottom: -13px;
  }

/*call icon button*/
.call-box{
    margin-left: 5%;
}

.call-item{
    background-color: var(--white);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 3px 6px #00000052;
}

.phone-icon{
    width: 50%;
    height: 50%;
    padding: 1%;
    display: flex;
    justify-content: center;
    background-size: contain;
}

#phone{
    background-image: url("../images/supportpage/callIcon.svg");
}

/*type in text*/
#type-text{
    margin-left: 5%;
    margin-top: 3%;
    opacity: 0.5;
}

/*footer chat*/
.footer-chat{
    display: flex;
    position: fixed;
    width: 100%;
    padding: 10px 0 10px 0;
    bottom: 0;
    border-radius: 20px;
    box-shadow: 0px -4px 50px 10px rgba(87, 86, 86, 0.071);
    background-color: white;
    z-index: 3;
    font-size: 12px;
    font-weight: 600;
    color: var(--grey);
}