*{
    font-family: poppins;
    margin: 0;
    padding: 0;
    justify-content: center;
    
}
html, body, form{ 
	padding: 0px;
	margin: 0px; 
    overflow: hidden;
}  
main{
	height: 100vh;
	width: 100vw;
    position: absolute;
}
a {
    text-decoration: none;
}
.title{
    padding-top: 15%;
    display: flex;
    color: #6218B7;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15%;
}
.balk{
    display: flex;
    background-color: #F8F4FF;
    color: #535353;
    padding: 20px 15px 20px 15px;
    margin-bottom: 10%;
    width: 80%;
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
}
#balkCard{
    display: flex;
    background-color: #F8F4FF;
    color: #535353;
    padding: 20px 15px 20px 15px;
    margin-bottom: 10%;
    width: 80%;
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
}
#balkLicence{
    display: flex;
    background-color: #F8F4FF;
    color: #535353;
    padding: 20px 15px 20px 15px;
    margin-bottom: 10%;
    width: 80%;
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
}
#button{
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FEBD4C;
    font-weight: 600;
    font-size: 20px;
    padding: 18px 5px 18px 5px;
    width: 60%;
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 10%;
    display: none;
}
#iconMail
{
    margin-right: 10px;
    margin-left: 1px;
}

#iconPhone
{
    margin-left: 4px;
    margin-right: 12px;
}
#iconCard
{
    
    margin-right: 10px;
}#iconLicence
{
    margin-left: 4px;
    margin-right: 11px;
}

#check{
    margin-right: 0px;
    margin-left: auto;
}
#checkCard{
    margin-right: 0px;
    margin-left: auto;
    display: none;
}
#checkLicence{
    margin-right: 0px;
    margin-left: auto;
    display: none;
}