*{
    font-family: poppins;
    margin: 0;
    padding: 0;
    justify-content: center;
    
}
html, body, form{ 
	padding: 0px;
	margin: 0px; 
    overflow: hidden;
}  
main{
	height: 100vh;
	width: 100vw;
    position: absolute;
}
a{
    text-decoration: none;
}
.title{
    padding-top: 10%;
    display: flex;
    color: #6218B7;
    font-size: 30px;
    font-weight: 600;
    
}
.undertext{
    display: flex;
    font-size: 15px;
    color:#535353;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    margin-bottom: 8%;

    
}
#balk1{
    width: 60%;
    height: 15%;
    border-radius: 16px;
    border-color: #6319B8;
    border-width: 0.3px;
    border-style: solid;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16);
    margin-left: 10%;
    display: flex;
    padding: 16px 13px 16px 13px;
    font-weight: 600;
    color: #535353;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    justify-content: left;
}
#balk2{
    width: 60%;
    height: 15%;
    border-radius: 16px;
    border-color: #6319B8;
    border-width: 0.3px;
    border-style: solid;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16);
    margin-left: 10%;
    display: flex;
    padding: 16px 13px 16px 13px;
    font-weight: 600;
    color: #535353;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    justify-content: left;
}
#balk3{
    width: 60%;
    height: 15%;
    border-radius: 16px;
    border-color: #6319B8;
    border-width: 0.3px;
    border-style: solid;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16);
    margin-left: 10%;
    display: flex;
    padding: 16px 13px 16px 13px;
    font-weight: 600;
    color: #535353;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    justify-content: left;
}
#balk4{
    width: 60%;
    height: 15%;
    border-radius: 16px;
    border-color: #6319B8;
    border-width: 0.3px;
    border-style: solid;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16);
    margin-left: 10%;
    display: flex;
    padding: 16px 13px 16px 13px;
    font-weight: 600;
    color: #535353;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    justify-content: left;
}
#winnerbalk{
    width: 60%;
    height: 15%;
    border-radius: 16px;
    border-color: #6319B8;
    border-width: 0.3px;
    border-style: solid;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16);
    margin-left: 10%;
    display: flex;
    padding: 26px 15px 26px 15px;
    font-weight: 600;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;  
    margin-top: 15%; 
}

#personicon{
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10%;
    width: 30px;
    height: 30px;
}
#klik{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FEBD4C;
    font-weight: 600;
    font-size: 20px;
    padding: 18px 5px 18px 5px;
    width: 60%;
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-left: auto;
    margin-right: auto;
}

#header-back-box{
    height: 40px;
    width: 40px;
    background-color: #6218B7;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
#header-back-icon{
    background-image: url("/images/arrowleft.svg");
    background-size: contain;
    height: 40%;
    width: 30%;
}